body {
    background-image: url("./Images/background-img.jpg");
    background-size: cover;
    margin-left: 7%;
    margin-right: 7%;
}
nav {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr  1fr;
    align-items: center;
    column-gap: 2px;
    margin-bottom: 20px;
}
#h1 {
    grid-column: 1 / 2;
}
#h2 {
    text-decoration: none;
    grid-column: 2 / 3;
}
#h2:hover {
    color: orange;
}
#h3 {
    text-decoration: none;
    grid-column: 3 / 4;
}
#h3:hover {
    color: orange;
}
#h4 {
    text-decoration: none;
    grid-column: 4 / 5;
}
#h4:hover {
    color: orange;
}
#h5 {
    grid-column: 5 / 6;
}
#h5:hover {
    color: orange;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    height: 40rem;
    align-items: center;
}
#sahara {
    font-size: 100px; margin: 0px;
}
#explore-btn {
    background-color: white;
    border-radius: 20px;
    padding: 5px 50px 5px 50px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}
#explore-btn:hover {
    transform: translateY(-5px);
    box-shadow: 10px 16px 10px black;
}
#explore-btn:hover {
    background-color: orange;
    box-shadow: 5px 8px 8px ;
}
a :hover {
    cursor: pointer;
}
a {
    color: white;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.card-1 {
    grid-column: 1 / 2;
    height: 12rem;
    border-radius: 10px;
    color: white;
    background-image: url("./Images/card-1.jpg");
    background-size: cover;
    width: 100%;
    transition: all 0.5 ease-in-out;
}
.card-1:hover {
    transform: translateY(-30px);
    box-shadow: 10px 16px 10px black;
}
.card-2 {
    grid-column: 2 / 3;
    height: 12rem;
    border-radius: 10px;
    color: white;
    background-image: url("./Images/card-2.jpg");
    background-size: cover;
    width: 100%;
}
.card-2:hover {
    transform: translateY(-30px);
    box-shadow: 10px 16px 10px black;
}
.card-3 {
    grid-column: 1 / 2;
    height: 12rem;
    border-radius: 10px;
    color: white;
    background-image: url("./Images/card-3.jpg");
    background-size: cover;
    width: 100%;
}
.card-3:hover {
    transform: translateY(-30px);
    box-shadow: 10px 16px 10px black;
}
.card-4 {
    grid-column: 2 / 3;
    height: 12rem;
    border-radius: 10px;
    color: white;
    background-image: url("./Images/card-4.jpg");
    background-size: cover;
    width: 100%;
}
.card-4:hover {
    transform: translateY(-30px);
    box-shadow: 10px 16px 10px black;
}
section > h5 , p {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 856px) {
    main {
        display: block;
    }
    section {
        display: block;
    }
    #sahara {
        margin: 0px;
        font-size: xx-large;
    }
} 

@media only screen and (max-width: 600px) {
    main {
        display: block;
    }
    section {
        display: block;
    }
    nav {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    #h2 {
        text-decoration: none;
        grid-column: 4 / 5;
    }
    #h3 {
        text-decoration: none;
        grid-column: 4 / 5;
    }
    #h4 {
        text-decoration: none;
        grid-column: 4 / 5;
    }
    #h5 {
        grid-row: 1 / 2;
    }
}